HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
#wantyou-user/src/main/resources/application-local.yml
#wantyou-user/src/main/resources/logback-local.xml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### hbuilderx
/hellodfs-admin/hellodfs-app/.idea
/hellodfs-admin/hellodfs-app/node_modules/
/hellodfs-admin/hellodfs-app/unpackage/
/hellodfs-admin/hellodfs-app/packages/lib
/hellodfs-admin/hellodfs-app/temps/example_temps/
/hellodfs-admin/hellodfs-app/dist/
/hellodfs-admin/hellodfs-app/.hbuilderx/
/hellodfs-admin/hellodfs-app/.project
/hellodfs-admin/hellodfs-app/.DS_Store